.top {
    height: 50px;
    background: #393D49;
}
#logo {
	color: #F0F0F0;
	line-height: 50px;
	margin-left: 30px;
	font-size: 40px;
}


.content {
    width: 60%;
    margin: 30px auto;
    background: white;
}



.footer {
 margin-top: 300px;
}

.footer > hr {
    background: #a1a3a3;
   
}

.footer > div {
    width: 154px;
    margin: 0 auto;
    margin-top: 25px;
}
